<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>圆形渐变下载框.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EFB03671EB8534D00F8A0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EFB03801EB8534E00F8A0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EFB038B1EB8534E00F8A0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
